html {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: antiquewhite;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: coral;
    flex:0 1 100px;
}

main {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    flex:1 1 auto;
    justify-content: center;
    align-items: center;
}

#weather-card {
    background-color: aqua;
    height: 400px;
    width: 400px;
}

footer {
    background-color: lightcyan;
    flex:0 1 100px;
}



